/* Override Bootstrap CSS */
body {
    min-height: 50px;
    padding-top: 70px;
}

a {
    outline: none;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    outline: none;
}

.navbar-brand {
	float: right;
    height: 20px;
    padding: 10px 10px;
    font-size: 18px;
    line-height: 10px;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #63B8FF;
    background-color: transparent;
}

.navbar-default {
    background-color: black;
    border-color: #E7E7E7;
}

.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    width:300px; /* custom sized div */
    margin-left:auto; /* added to center custom sized div */
    margin-right:auto; /* added to center custom sized div */
    color: black;
    background-color: #F8F8FF;
    text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #f5f5f5;
  outline:none;
}